.each>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
    width: 90%;
 margin: auto;
 margin-top: 1rem;
  }
  
  .each span {
    padding: 20px;
   
   margin-left: -55%;
    text-align: center;
    color:#FFFFFF;
  
  
  }
  .each span >button{
    height: 35px;
    width:30%;
    border-radius: 15px;
    border:none;
    background:#98CB4C;
    color:#FFFFFF;
    font-size: 20px;
  
  }
  
.top{
  margin-top: -30px;
  text-align: center;
}  
 